<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>


<!-- TODO  -->
<!-- Buttony - active state, vlastni styl, velikost -->
<!-- Data managemet -->
<!-- Fotky obrazky -->
<!-- Layout - umistit streak panel na bottom - problem s vh  -->
<body>
<div id="app">

  <water-indicator :current="current_liters" :target="target_liters" class="mt-5"></water-indicator>

  <div class="flash-message-container">
    <Transition>
      <div v-if="flash_message" class="flash-message">{{ flash_message }}</div>
    </Transition>
  </div>

  <div class="mt-5 d-flex justify-content-around">
    <button-adder @add="addWater" :value="100"></button-adder>
    <button-adder @add="addWater" :value="300" /></button-adder>
    <button-adder @add="addWater" :value="500" /></button-adder>
  </div>

  <div class="vertical-spacer"></div>

  <div class="streak-container">
    <streak-bar :total_parts="streak_target_days" :completed_parts="streak_current_days"></streak-bar>
  </div>

  <Transition>
    <flash-overlay v-if="overlay" @done="closeOverlay" :text="overlay.text" :image_url="overlay.image_url" :emoticon="overlay.emoticon"></flash-overlay>
  </Transition>
  
</div>
</body> 

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<script type="module">
  import { createApp, ref } from 'vue'
  import Wd from './wd.js'

  createApp(Wd).mount('#app')
</script>

</html>