body {
    height: 100vh;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.vertical-spacer {
    flex: 1;
}

.streak-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

.flash-message-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.v-enter-active {
    transition: all 0.3s ease-out;
  }

.v-leave-active {
  transition: all 0.3s ease-out;
}
  
.v-enter-from,
.v-leave-to {
    transform: scale(0);
    opacity: 0;
}

.img-glass {
    width: 200px;
    transform: scale(0.3); /* Scales down the image */
    transform-origin: center; /* Keeps scaling centered */
}

.gift-image {
    width: 70px;
    height: 70px;
    transform: translate(-20px, -8px); /* Moves the image */
}

.indicator-svg { 
    width: 85%;
}

.btn-water {
    border: 2px solid #3b82f6; /* Blue outline */
    background-color: white;
    color: #3b82f6; /* Blue text */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    display: block;
    width: 25vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
  }
  
  .btn-water:active, .btn-water:focus {
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.15);
  }
  