
@page {
    margin: 0;
    /* size: A4; */
}

:root {
    --side-panel-color: rgb(90, 68, 201);
}

body {
    margin-top: 1rem; /* 1 */
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    text-align: left; /* 3 */
    background-color: #fff; /* 2 */
}



h1 {
    margin-top: 0.8rem;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

h1 + p {
    font-size: 75%;
    text-align: center;
}

div.portrait-container {
    display: flex;
    justify-content: center;
}

img.portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid rgb(185, 185, 185);
    object-fit: cover;
    /* filter: grayscale(100%); */
}

h2 {
    font-size: 100%;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    padding: 0.4rem 0.7rem;margin-top: 0;
    margin-bottom: .5rem;
    font-weight: normal;
}

.main-container h2 {
    font-size: 105%;
    /* font-weight: bold; */
    /* border-left: 3px solid rgb(48, 48, 48); */
    border-bottom: none;
    margin-bottom: 0.5rem;
    background-color: var(--side-panel-color);
    color: rgb(248, 248, 248);
}

.main-container section {
    margin: 0.4rem;
    margin-top: 0;
    /* margin-top: 0.5rem; */
}

main {
    display: flex;
    /* height: 100%; */
    align-items: stretch;
    max-width: 1300px;
}

.side-container {
    flex: 0 0 18rem;
    background-color: var(--side-panel-color);
    color: white;
    align-self: stretch;
    border-radius: 5px;
}

.side-container li {
    color: black;
}

.side-container h2 {
    color: rgb(230, 230, 230);
    border: 1px solid;
    text-align: center;
    /* background-color: rgb(20, 20, 114); */
    font-size: 80%;
}

.side-container a { 
    color: white;
}

.main-container {
    flex: 1 0 0;
}

section {
    margin: 1rem;
    margin-top: 1.5rem;
    padding: 0;
}

ul {
    list-style: none;
}

ul.item-list {
    display: flex;
    /* justify-content:start; */
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

ul.item-list li {
    padding: 0.2rem 0.6em;
    margin: 0.1rem 0.1rem;
    border-radius: 3rem;
    background-color: rgb(219, 218, 218);
    font-size: 80%;
}

dl div {
    display: flex;
}

dt.icon-container {
    display: flex;
    text-align: center;
    width: 1.8rem;
}

dt.icon-container + dd {
    margin-left: 0;
}

dt.icon-container i {
    flex: 0 0 20px;
}

article {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
}


article h3 {
    font-size: 100%;
    margin-bottom: 0.2rem;
    margin-top: 0;
}

article p {
    margin-top: 0.5rem;
    margin-left: 0.2rem;

}

article ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0;
    padding-left: 2rem;
}

article ol {
    padding-left: 2rem;
}

@media (max-width: 1100px) and (orientation: portrait) {
    body, main {
        margin: 0;
        display: block;
        max-width: initial;
    }
    .side-container {
        border-radius: 0;
    }
}

@media print {
    @page {
        size: A4;
    }

    html, body {
        font-size: 11px;
        width: 210mm; 
        height: 297mm;
        max-height: 297mm;
        margin: 0;
    }

    .side-container {
        flex: 0 0 10rem;
        /* align-self: stretch; */
        border-radius: 0px;
    }

    main {
        height: 100%;
    }

    .main-container section {
        margin-top: 0.4rem;
    }

}
